<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FoodTracker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC7E47081F62D86400E6CC5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC7E471C1F62D86400E6CC5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC7E47271F62D86400E6CC5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
